.dark-theme {
  $primary : #100F2B;
  $secondary: #5353C5;
  $dark: #100F2B;
  $dark-light: #100F2B;
  $title-text-color : #e6e6e6;

  ion-content {
    background-color: $primary;
    color: #ffffff;
  }

  .cp-search{
    background: #100F2B;
    color:white;
    border-bottom: solid 2px #5353C5;
    .label {
      color :#5353C5
    }
  }

  .btn-favorite {
    background: #5353C5;
  }
  .coin-favorite{
    color: $secondary;
  }


  .ion-page {
    .header::after, .tabbar::before {
      background: linear-gradient(to right, #5353C5, #3333a4);
      bottom: 0;
      height: 2px;
    }
  }
  .tabbar a[aria-selected=true],
  .tab-button[aria-selected="true"] .tab-button-icon,
  .toolbar .back-button,
  .mat-sort-header-arrow {
      color:$secondary !important;
  }


  .toolbar-title {
    color: #fff;
  }

  .header .toolbar-background {
    background-color: $dark;
  }

  .toolbar-md-primary .bar-button-default-md, .toolbar-md-primary .icon {
    color: $secondary !important;
  }

  .mat-table {
    background: linear-gradient(to right,$dark,$dark-light);
    .mat-header-cell, .crypto-rank, .crypto-symbol {
      color :#929cb4
    }
    .mat-cell{
      color:white;
    }
  }

  .tabbar.show-tabbar{
    background-color: $dark;
  }

  //coin page
  .coin-info-title, .coin-info-name{
    text-align: left;
    color:$title-text-color;
    padding: 0 15px;
  }
  .coin-info-card{
    background: $dark-light;
    .card-content *{
      color:white;
    }
  }

  .crypto_list {
    .item {
      background: linear-gradient(to right, #5353C5, #3333a4);
      color:white;
    }
  }

  .list-setting{
    .item {
      background: #5353C5;
      color: white;
      border-bottom: none;
      border: none;
      .item-inner {
        border: none;
        background: #5353C5;
      }
    }
    .list-header {
      background-color:#5353C5;
      color: 5353C5;
      border: none;
      border-bottom: solid 1px rgba(13, 75, 145, 0.5);
      font-size: 20px;
    }
  }
  chart-market-shares{
    stop-color: #3333a4;
  }
  
}


